<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      background-image:url('https://images.unsplash.com/photo-1518133835878-5a93cc3f89e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .carding{
      background-image: linear-gradient(to right, rgba(247, 241, 169, 0), rgb(199, 132, 77));
    }
    
  </style>
</head>
<body>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body text-center carding">
            <h1><i class="fas fa-university fa-8x"></i></h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
          </div>
        </div>
    </div>
</body>
</html>
  